.palette-preview { 
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px;
    border-radius: 5px;
    border: 1px solid var(--border-color)
  }