:root {
  --border-color: var(--sl-color-gray-300)
}

.App header {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

.App .configurator {
  display: flex;
}

.App .configurator > .left, .App .configurator > .right {
  width: 50%;
  padding: 16px;
}
.App .configurator > div, .App .control-bar, footer {
  flex-grow: 1;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  margin: 0 10px;
  padding: 10px;
  background-color: #fff;
}

.App .configurator h3, .App .configurator h4 {
  text-align: center;
}

.App .control-bar {
  margin-bottom: 20px;
  text-align:right;
}

.App .control-bar sl-button {
  margin: 0 5px;
}

.App .tile-preview {
  width: 64px;
  border: 1px solid var(--border-color);
  image-rendering: pixelated;
  display: block;
  margin: auto;
}

.App .dl-bar {
  text-align: center;
  margin-top: 24px;
}

.App .tile-option {
  margin: 16px auto;
}

footer {
  margin: 10px;
  padding: 8px 16px;
  text-align: center;
}