:root {
  --border-color: var(--sl-color-gray-300)
}

.App header {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}


.App .configurator {
  display: flex;
}

.App .configurator > .left, .App .configurator > .right {
  width: 50%;
  padding: 16px;
}
.App .configurator > div, .App .control-bar {
  flex-grow: 1;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  margin: 0 10px;
  padding: 10px;
  background-color: #fff;
}

.App .configurator h3, .App .configurator h4 {
  text-align: center;
}

.App .control-bar {
  margin-bottom: 20px;
  text-align:right;
}

.App .control-bar sl-button {
  margin: 0 5px;
}

.App .below-range {
  display: flex;
  width: 100%;
}
.App .below-range > * {
  width: 33.3333%;
}
.App .below-range .left {
  text-align: left;
}
.App .below-range .mid {
  text-align: center;
}
.App .below-range .right {
  text-align: right;
}

.App .tile-preview {
  width: 64px;
  border: 1px solid var(--border-color);
  image-rendering: pixelated;
  display: block;
  margin: auto;
}

.App .tile-preview-collection {
  width: 192px; 
  border: 1px solid var(--border-color);
  display: grid;
  margin: auto;
  grid-template-columns: 64px 64px 64px;
  grid-template-rows: 64px 64px 64px;
  gap: 0;
}

.App .tile-preview-collection > img {
  width: 64px;
  image-rendering: pixelated;
  margin: 0;
  padding: 0;
}

.App .dl-bar {
  text-align: center;
  margin-top: 24px;
}

.App .tile-option {
  margin: 16px auto;
}